/**
 * 布局相关样式
 */

/* 容器 - 简化样式（去除毛玻璃包裹） */
.container-left,
.container-center,
.container-right {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: visible;
    padding: 0;
}

.container-left {
    text-align: center;
    justify-content: flex-start;
    padding-top: 20px;
}

.container-center {
    text-align: left;
    justify-content: center;
}

.container-right {
    text-align: left;
    justify-content: flex-start;
}
